<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.familytree">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".colin2"
            android:label="@string/title_activity_colin2"></activity>
        <activity
            android:name=".oliver"
            android:label="@string/title_activity_oliver" />
        <activity
            android:name=".alma"
            android:label="@string/title_activity_alma" />
        <activity
            android:name=".sean"
            android:label="@string/title_activity_sean" />
        <activity
            android:name=".colin"
            android:label="@string/title_activity_colin" />
        <activity
            android:name=".aaron"
            android:label="@string/title_activity_aaron" />
        <activity
            android:name=".mom"
            android:label="@string/title_activity_mom" />
        <activity
            android:name=".dad"
            android:label="@string/title_activity_dad" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>